HEAD
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.suo
*.tmp
*.user

[Ll]ibrary/ 
[Tt]emp/ 
[Oo]bj/ 
[Bb]uild/ 
[Bb]uilds/ 
[Ll]ogs/ 
[Uu]ser[Ss]ettings/ 
[Mm]emoryCaptures/ 
.vsconfig 
*.csproj 
*.sln 
cbc40e2a740ac3e145888f76a8d61681fdb68bb8
